<header class="site-header">

  <div id="menu_id" class="menu">
	<div class="menu_button"><a style=font-size:15pt;> x </a></div>
<div style='top:25px;position:relative;'>
	<header class="site-category">
      <ul>

	        <p style='font-size:14pt;font-weight:lighter;line-height:250%;'><a href="{{ site.baseurl }}/category/all.html">전체 글 보기 ({{site.posts.size}})</a></p>

    
    {% assign pages_list = site.pages %}

    {% for node in pages_list %}
	  {% if node.title != null %}
	    {% if node.layout == "category" %}
	       {% assign parse_title = node.title | split:"b" %}
	       {% if parse_title[1] != null %}
	        <p style='font-size:14pt;font-weight:lighter;line-height:250%;'>{{ parse_title[1] }}</p>
	       {% else %}
			  {% assign num = site.categories[node.title].size %}
			  {% if num == null %}
			    {% assign num = 0 %}
             {% endif %}				
	          <p style='padding-left:10px;'><a class="category-link {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">- {{ node.title }} ({{ num }})</a></p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
      </ul>
    </header>
	</div>
  </div>

  <div class="wrapper" style = "max-width:100%;padding:0px;height:60px;">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
	
	<div id="title_buttons">
	  <div class="menu_button">
	    <div id="menu_open_button" style='width:100%;left:20px;top:20px;position:relative;background-image:url(/assets/bars.png);background-size:20px 20px;background-repeat:no-repeat' onclick="document.getElementById('menu_id').style.display = 'block';" >&nbsp;</div>
		</div>
	  <div onclick="window.open('https://github.dev/lkwks/lkwks.github.io/new/main');" style="left:60px;width:calc(100% - 60px);">&nbsp;</div>
    </div>
	
	<div style='text-align:center;'>
	 <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
	</div>
	<div >
	
	
<div style='position:absolute;right:0;width:30%;top:0'>
   <div id="search-mobile-box" style="width:70%;">&nbsp;</div>
   <div id="search-box" style='display:inline-block;width:90%;visibility:hidden'>
   <div id="search-bar" style='border-bottom:1px solid black;'>
     <i class="fa fa-search" aria-hidden="true"></i>
     <input id="search-input" type="text" placeholder="Search..." />
   </div>
   </div>
	<div style='display:inline-block;'><img id="magnifier_button" src="/assets/search_icon.png" onclick="document.getElementById('search-box').style.visibility='visible';" style="height:20px;width:20px;"></div>
 </div>



	</div>
<!--
    {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}-->
  </div>
</header>
