---
layout: default
---
<ul class="post-list">
  
  {% assign category = page.category | default: page.title %}
  
  {% assign num = site.categories[category].size %}
  {% if num == null %}
    {% assign num = 0 %}
  {% endif %}
  <div style=height:100px>
    <div class="home_list_title">{{page.title}} <font style="font-size:10pt;font-family:'Nanum Gothic'">({{ num }})</font></div>
  </div>
  
  
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% for post in site.categories[category] %}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}" style="font-weight:bold">
            {{ post.title | escape }}
          </a>
        </h3>
		  <font style=font-style:italic;>
          {{ post.excerpt }}</font>
      </li>
  {% endfor %}
  
</ul>
