---
layout: default
---
<ul class="post-list">
  
  {% assign category = page.category | default: page.title %}
  
  {% assign category_found = site.categories[category] %}
  {% assign num = site.categories[category].size %}
  {% assign p_title = page.title %}
  {% assign cat_url = p_title | append: "/" %}
  {% if num == null %}
    {% assign num = 0 %}
  {% endif %}
  {% if p_title == null %}
    {% assign num = site.posts.size %}  
    {% assign p_title = "전체 글" %}
	 {% assign category_found = site.posts %}
	 {% assign cat_url = "" %}
  {% endif %}
  
  <div style=height:100px>
    <div class="home_list_title"><font onclick="window.open('https://github.dev/lkwks/lkwks.github.io/tree/main/{{cat_url}}_posts');" class="list_title_font">{{p_title}}</font> <font style="font-size:10pt;font-family:'Nanum Gothic'">({{ num }})</font></div>
  </div>
  
  {% for post in category_found %}
	    <div class="post-list-article">
      <li>
	    <div style=display:block>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}" style="font-weight:bold;font-size:14pt;">
            {{ post.title | escape }}
          </a>
        </h3>
		</div>
		<div class="post-list-excerpt">
          {%- assign p_excerpt = post.content | strip_html | strip_newlines -%}
          {%- for i in (0..9) -%}
              {%- assign p_excerpt = p_excerpt | replace: i, "" -%}
          {%- endfor -%}
		   {%- if p_excerpt.size >= 230 -%}
		     {%- assign p_excerpt = p_excerpt | slice: 0, 230 | append: "..." -%}
          {%- endif -%}
          {{ p_excerpt }}</div>
      </li>
		  </div>
  {% endfor %}
  
</ul>
